soap-course-management/src/main/resources/schema-definitions/course-details.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- Notes:
  * Using default namespace is bad practice
  * using tns is like creating a "this namespace" namespace

  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://elisegovia.com/courses"
           xmlns:tns="http://elisegovia.com/courses"
           elementFormDefault="qualified">

    <xs:element name="GetCourseDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCourseDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CourseDetails" type="tns:CourseDetails"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="CourseDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>



</xs:schema>